body {
  background-color:rgba(43, 255, 0, 0.13);
  font-family: Arial, sans-serif;
  color: #ffffff;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.movie-card {
  margin: 15px 0;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  background-color: #1e1e1e; /* dark card background */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

.card-text {
  color: #cccccc;
  margin-bottom: 5px;
}

.modal-content {
  background-color: #1e1e1e;
  color: #ffffff;
}

.modal-header {
  background-color: #1c1c1c;
  color: #ff3f6c;
}

.modal-footer .btn-success {
  background-color: #ff3f6c;
  border: none;
}
